<header>
  <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
  <p>{{ site.description }}</p>
  <p class="view"><a href="./thishitshard.html">This hit the hardest</a></p>
  <p class="view"><a href="./news.html">#BLM in the News</a></p>
  <p class="view"><a href="./statements.html">Public Statements</a></p>
  <p class="view">Police Response <a href="./policebrutality.html">By State</a> | <a href="./policebrutality.html">By Date</a></p>
  <p class="view"><a href="./uplifting.html">Slightly uplifting</a></p>
  <p class="view"><a href="./resources.html">Resources</a></p>
</header>
